@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
nav {
    position: relative;
  width: 1000px;
  height: 100px;
  background-color: blueviolet;
}
/* 메인 메뉴 */
.gnb {
  position: absolute;
  top: 50px;
  /* bottom: 0; */
  right: 20px;
  display: flex;
  width: 600px;
  height: 100%;
  text-align: center;
  background-color: antiquewhite;
}
.gnb > li {
  width: calc(100% / 4);
  background-color: aliceblue;
}
.gnb > li > a {
  display: block;
  line-height: 50px;
  color: #fff;
  background-color: #333;
}
