@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
nav {
  position: relative;
  width: 1000px;
  height: 100px;
  background-color: #bbb;
}
/* 메인 메뉴 */
.gnb {
  position: absolute;
  top: 50px;
  /* bottom: 0; */
  right: 20px;
  display: flex;
  width: 600px;
  /* height: 100%; */
  text-align: center;
  /* background-color: antiquewhite; */
}
.gnb > li {
  width: calc(100% / 4);
  height: 50px;
  /* background-color: aliceblue; */
}
.gnb > li > a {
  display: block;
  line-height: 50px;
  color: #fff;
  background-color: #333;
}
/* .gnb > li > a:hover{
    background-color: #666;
} */
.gnb > li:hover > a {
  background-color: #666;
}
/* 서브 메뉴 */
.depth2 {
  display: none;
}
.depth2 > li > a {
  display: block;
  line-height: 50px;
  background-color: #dddddd;
}
/* .depth2>li>a:hover{
    color: #fff;
    background-color: #999;
} */
.depth2 > li:hover > a {
  color: #fff;
  background-color: #999;
}
/* 서브 메뉴 전체 나오기 */
.gnb:hover .depth2 {
  display: block;
}
/* 자식 서브메뉴만 나오게 하기 */
/* .gnb > li:hover .depth2 {
  display: block;
} */
